---
interface Props {
  title: string
  options?: Array<{
    label: string
    labelAbbreviation: string
    link: string
    target: '_blank' | '_top' | '_self' | '_parent'
  }>
  className?: string
}

const { title, options, className = 'mb-32' } = Astro.props
---

<section class={className}>
  <header class="flex justify-between items-end gap-4 mb-8">
    <h3
      class:list={[
        'relative text-2xl font-cenzil font-semibold uppercase',
        'text-primary before:content-[""] before:absolute before:-bottom-1',
        'before:w-full before:h-[3px] before:bg-primary primary-to-white',
        'xl:text-6xl'
       ]}
    >
      {title}
    </h3>

    {options && (
      <nav>
        <ul class="flex justify-center items-end gap-2">
          {options.map((option, index) => (
            <>
              <li>
                <a
                  href={option.link}
                  class="uppercase text-sm border-b border-b-transparent transition-colors duration-300 hover:text-primary hover:border-b-primary"
                  target={option.target}
                  referrer-policy='no-referrer'
                >
                  <span class="text-sm uppercase font-cenzil hidden white-to-primary sm:inline-block">
                    {option.label}
                  </span>
                  <span class="text-sm uppercase font-cenzil font-light white-to-primary sm:hidden">
                    {option.labelAbbreviation}
                  </span>
                </a>
              </li>
              {options.length - 1 !== index && <span class="white-to-primary">/</span>}
            </>
          ))}
        </ul>
      </nav>
    )}
  </header>

  <slot />
</section>
