---
import { Image } from 'astro:assets'
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../components/layouts/SectionLayout.astro";
import ScrollIndicator from '../components/ScrollIndicator.astro'
import ButtonLink from '../components/ButtonLink.astro'
import YoArrowForward from '../icons/YoArrowForward.astro'
import YoGithub from '../icons/YoGithub.astro'
import YoLinkedin from '../icons/YoLinkedin.astro'
import cuteKid from '../assets/icons/cute-kid.png'
import cutePenguinGaming from '../assets/icons/cute-penguin-gaming.png'
import '../styles/shadow.css'

const personalProjects = (await Astro.glob('./projects/*.md'))
  .sort((a: any, b: any) => {
    return new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
  })
  .slice(0, 2)
---

<Layout title="Yoel Valverde - Frontend Developer" description="Web developer">
  <section class="h-hero flex flex-col justify-evenly items-center gap-8">
    <div class="flex flex-col justify-start items-center gap-y-8 sm:flex-row sm:gap-x-16">
      <Image
        src={cuteKid}
        alt='cute kid'
        class='w-32 object-contain sm:w-48'
      />
      <div>
        <h1 class="title-line-height font-pacifico mb-4 text-primary text-4xl primary-to-white sm:text-6xl">
          Desarrollador Frontend
        </h1>
        <h3 class="text-wrap white-to-primary">
          Esbozo el futuro digital a través del arte del desarrollo web, creando
          experiencias impactantes y funcionales.
        </h3>
        <ul class="mt-8 flex justify-center items-center gap-x-8 sm:gap-x-16">
          <li>
            <ButtonLink
              href='https://linkedin.com/in/yoelvalverdepolo/'
              target='_blank'
              isIcon
            >
              <YoLinkedin />
            </ButtonLink>
          </li>
          <li>
            <ButtonLink
              href='https://github.com/yoelvp/'
              target='_blank'
              isIcon
            >
              <YoGithub />
            </ButtonLink>
          </li>
        </ul>
      </div>
    </div>

    <ScrollIndicator />
  </section>

  <SectionLayout
    title="Proyectos"
    options={[
      { label: 'Personales', labelAbbreviation: 'Pers', link: '/projects/#personal', target: '_self'},
      { label: 'Colaboraciones', labelAbbreviation: 'Colab', link: '/projects/#collaborations', target: '_self'}
    ]}
  >
    <article class="flex flex-col justify-center items-center gap-y-8 sm:flex-row sm:justify-between sm:gap-x-16">
      <p class="selection:text-primary selection:bg-white">
        Explora mi colección de proyectos más recientes, donde la pasión se entrelaza con la innovación para dar vida a experiencias web verdaderamente memorables.
      </p>
      <ButtonLink href='/projects'>
        Ver todos los proyectos
        <YoArrowForward size={16} />
      </ButtonLink>
    </article>

    <div class="mt-12">
      <ul class="grid grid-cols-2 gap-x-8 gap-y-12">
        {personalProjects.map(project => (
          <li>
            <a href={project.url}>
              <img
                src={project.frontmatter.heroImage}
                alt='Thumbnail'
                class="border border-slate-400 rounded-2xl h-48 w-full object-cover object-center"
                decoding="async"
                loading="lazy"
              />
              <div class="text-center">
                <h4 class="font-bold mt-2 text-lg leading-none selection:bg-white selection:text-primary">
                  {project.frontmatter.title}
                </h4>
                <small class="text-xs selection:bg-white selection:text-primary" style="text-wrap:balance;">
                  {project.frontmatter.stack.join(', ')}.
                </small>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </div>
  </SectionLayout>

  <SectionLayout
    title="Acerca de"
    options={[
      { label: 'Email', labelAbbreviation: 'EM', link: 'mailto:yoelvp73@gmail.com/', target: '_blank'},
      { label: 'LinkedIn', labelAbbreviation: 'IN', link: 'https://linkedin.com/in/yoelvalverdepolo/', target: '_blank'},
      { label: 'Github', labelAbbreviation: 'GH', link: 'https://github.com/yoelvp/', target: '_blank'}
    ]}
  >
    <article class="flex justify-start items-center gap-8 mb-8">
      <Image
        src={cutePenguinGaming}
        alt='cute kid'
        class='w-24 object-contain'
      />
      <div>
        <h2 class="white-to-primary text-2xl font-bold sm:text-3xl">
          Yoel Valverde
        </h2>
        <h3 class="white-to-primary">
          Desarrollador Web Frontend (JavaScript / React / TypeScript)
        </h3>
      </div>
    </article>
    <article class="space-y-8">
      <p class="white-to-primary indent-4">
        +1 año de experiencia en desarrollo web, destacando el dominio de <strong class="white-to-primary">JavaScript</strong> y <strong class="white-to-primary">React</strong>, junto con familiaridad en una variedad de <strong class="white-to-primary">frameworks frontend</strong>. Habilidad demostrada en la creación de aplicaciones web efectivas y en la resolución ágil de desafíos técnicos. Capacidad para trabajar en equipos dinámicos y entornos en constante evolución.
      </p>
      <div class="flex justify-center items-center">
        <ButtonLink href='/about'>
          Ver más
          <YoArrowForward size={16} />
        </ButtonLink>
      </div>
    </article>
</Layout>

<style>
.h-hero {
  height: auto;
  min-height: calc(100vh - 64px);
}

.title-line-height {
  line-height: 1.2;
}

.text-wrap {
  text-wrap: pretty;
}
</style>
