---
import Content from '@/components/Content.astro'
import SectionHeader from '@/components/SectionHeader.astro'
import Badge from '@/components/Badge.astro'
import { experiences } from '@/constants/experiences'
import IconArrowUpRight from '@/icons/arrow-up-right.astro'
import IconLink from '@/icons/link.astro'
---


<Content>
  <SectionHeader title="Experiencia" />

  <section class="cards__container">
    {experiences.map((experience) => (
      <article class="card">
        <a
          href={experience.companyWebsite}
          target="_blank"
          class="card__wrapper"
        >
          <span class="card__date">
            {experience.startDate} - {experience.endDate}
          </span>

          <article class="card__content">
            <p class="card__position">
              <span>
                {experience.position} &bull; {experience.companyName}
              </span>
              <span class="card__position-icon">
                <IconArrowUpRight />
              </span>
            </p>
            {experience.description && (
              <p class="card__description">{experience.description}</p>
            )}

            <ul class="card__details">
              {experience.details.map(detail => (
              <li>
                {detail}
              </li>
              ))}
            </ul>

            <ul class="card__projects">
              {experience.projects && experience.projects?.map(project => (
              <li class="project__item">
                <a
                  href={project.link}
                  target="_blank"
                  referrerpolicy="no-referrer"
                >
                  <IconLink />
                  {project.name}
                </a>
              </li>

              ))}
            </ul>

            <ul class="card__stack">
              {experience.stack.map((stackName) => (
              <Badge class="stack__item badge--primary">
                {stackName}
              </Badge>
              ))}
            </ul>
          </article>
        </a>
      </article>
    ))}
  </section>
</Content>

<style>
.cards__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: var(--rounded-lg);
  border-top: 0.5px solid transparent;
  transition: background-color 300ms, border-top-color 300ms;
}

.card:hover {
  border-top-color: hsla(var(--zinc-700-hsl), 0.8);
  background-color: hsl(var(--zinc-800-hsl, 0.4));
}

.card__date {
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--text-sm);
  color: var(--zinc-400);
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__position {
  font-size: 18px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  transition: color 300ms;
}

.card:hover .card__position {
  color: var(--primary);
}

.card__position-icon {
  display: inline-block;
  transition: transform 250ms;
}

.card:hover .card__position-icon {
  transform: translate(4px, -4px);
}

.card__description {
  margin-bottom: 1rem;
  color: var(--zinc-300);
}

.card__details {
  color: var(--zinc-300);
  margin-bottom: 1rem;
}

.card__details li {
  list-style: disc;
  list-style-position: inside;
}

.card__projects {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.card__projects .project__item a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  transition: color 300ms;
}

.project__item a:hover {
  color: var(--primary);
}

.card__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.card:hover .card__stack .stack__item {
  background-color: hsla(var(--primary-hsl), 0.3);
  color: var(--primary-500);
}
</style>
