---
import Badge from "@/components/Badge.astro";
import Content from "@/components/Content.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import { experiences } from "@/constants/experiences";
import IconLink from "@/icons/link.icon.astro";
---

<Content>
  <SectionHeader title="Experiencia" />

  <section class="flex flex-col gap-y-4">
    {
      experiences.map((experience) => (
        <article class="experience grid grid-cols-1 gap-y-1 p-2 rounded-md border border-transparent lg:grid-cols-8 lg:gap-x-4">
          <span class="uppercase text-base lg:col-span-2 lg:mt-1">
            {experience.startDate} - {experience.endDate}
          </span>

          <article class="flex flex-col gap-y-4 lg:col-span-6">
            <div class="experience__position flex flex-col uppercase font-semibold">
              <strong>{experience.position}</strong>
              <a
                href={experience.companyWebsite}
                class="underline w-fit text-deep-teal text-lg hover:text-geraldine hover:decoration-wavy"
              >
                {experience.companyName}
              </a>
            </div>
            {experience.description && (
              <p
                class="text-pretty"
                set:html={experience.description}
              />
            )}

            <ul>
              {experience.details.map((detail) => (
                <li set:html={detail} class="list-disc list-inside text-pretty" />
              ))}
            </ul>

            {experience.projects && (
              <ul class="flex flex-wrap justify-start items-center gap-x-4">
                {experience.projects &&
                  experience.projects?.map((project) => (
                    <li class="project__item">
                      <a
                        href={project.link}
                        class="inline-flex justify-start items-center gap-1 text-lg hover:underline hover:text-deep-teal"
                        target="_blank"
                        rel="noreferrer noopener"
                        referrerpolicy="no-referrer"
                      >
                        <IconLink />
                        {project.name}
                      </a>
                    </li>
                  ))}
              </ul>
            )}

            <ul class="flex flex-wrap items-center gap-x-2 gap-y-1">
              {experience.stack.map((stackName) => (
                <Badge class="badge--deep-teal">{stackName}</Badge>
              ))}
            </ul>
          </article>
        </article>
      ))
    }
  </section>
</Content>

<style>
  .experience {
    transition:
      background-color 300ms,
      border-color 300ms;
  }

  .experience:hover {
    border-color: rgba(var(--color-deep-teal-rgb), 0.2);
    background-color: rgba(var(--color-deep-teal-rgb), 0.04);
    box-shadow: 0px 0px 8px 4px rgba(var(--color-deep-teal-rgb), 0.1);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(var(--color-deep-teal-rgb), 0.1);
    -moz-box-shadow: 0px 0px 8px 4px rgba(var(--color-deep-teal-rgb), 0.1);
    backdrop-filter: blur(2px);
  }

  .experience__position a {
    transition:
      color 300ms,
      text-decoration-style 300ms;
  }

  .project__item a {
    transition:
      color 300ms,
      text-decoration 300ms;
  }
</style>
