---
import Header from '../components/header/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import CategoryMenu from '../components/CategoryMenu'
import Breadcrumb from '../components/Breadcrumb.astro'
import { toCapitalize } from '../utils/toCapitalize'
import { valueOfDate } from '../utils/valueOfDate'

interface Props {
  category?: string
}

const { category } = Astro.props

const allProjects = (await Astro.glob('../pages/projects/*.md'))
  .sort((a, b) => {
      return valueOfDate(b.frontmatter.createdAt) - valueOfDate(a.frontmatter.createdAt)
  })
  .filter(item => {
    if (category === 'all') return item
    return item.frontmatter.tags?.includes(toCapitalize(category))
  })

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${toCapitalize(category)} / Yoel Valverde - Frontend Developer`}
      description="Explore through the categories to find a wide variety of my personal and collaborative projects."
    />
  </head>
  <body class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-white break-words">
    <div class="w-[90%] max-w-2xl mx-auto">
      <Header />

      <main class="main">
        <br />

        <div class="flex justify-between items-center mb-8">
          <Breadcrumb label='Proyectos' href='/projects'>
            {category}
          </Breadcrumb>
          <CategoryMenu client:visible />
        </div>

        <ul class="grid grid-cols-1 gap-y-12 sm:gap-x-8 sm:grid-cols-2 sm:gap-y-0">
          {allProjects.map(project => (
            <li>
              <a href={project.url}>
                <img
                  src={project.frontmatter?.heroImage}
                  alt='Thumbnail'
                  class="border border-slate-400 rounded-2xl h-48 w-full object-cover object-center"
                  decoding="async"
                  loading="lazy"
                />
                <div class="text-center">
                  <h4 class="font-bold mt-2 text-lg leading-none selection:bg-white selection:text-primary">
                    {project.frontmatter?.title}
                  </h4>
                  <small class="text-xs selection:bg-white selection:text-primary" style="text-wrap:balance;">
                    {project.frontmatter.stack?.join(', ')}.
                  </small>
                </div>
              </a>
            </li>
          ))}
        </ul>
      </main>

      <Footer />
    </div>
    <div id="cursor"></div>
  </body>
</html>
