---
import Badge from "@/components/Badge.astro";
import BaseHead from "@/components/BaseHead.astro";
import Content from "@/components/Content.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Shape from "@/components/Shape.astro";
import type { Project } from "@/types/Project";
import { Image } from "astro:assets";

interface Props {
  content: Project;
}

const {
  content: { title, description, thumb, stack, website, github }
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${title} / Yoel Valverde - Frontend Developer`}
      description={description}
    />
  </head>
  <body>
    <Header />

    <main class="mt-20 w-full">
      <Content class="space-y-8">
        <Image
          src={thumb ?? ""}
          height={200}
          width={280}
          alt="thumbnail"
          class="w-full h-auto rounded-md object-cover object-center"
        />

        <section class="space-y-1">
          <strong class="font-semibold text-deep-teal text-pretty uppercase">
            {title}
          </strong>
          <p class="text-pretty">
            {description}
          </p>
        </section>

        <div class="space-y-1">
          {
            website && (
              <div class="link__item">
                <Badge class="badge--deep-teal uppercase text-xs">
                  Sitio web
                </Badge>
                <a
                  href={website}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:text-deep-teal"
                >
                  {website}
                </a>
              </div>
            )
          }
          {
            github && (
              <div class="link__item">
                <Badge class="badge--deep-teal uppercase text-xs">Github</Badge>
                <a href={github} target="_blank" rel="noopener noreferrer">
                  {github}
                </a>
              </div>
            )
          }
          <div class="link__item">
            <Badge class="badge--deep-teal uppercase text-xs"> Stack </Badge>
            <p>
              {stack?.join(", ")}.
            </p>
          </div>
        </div>

        <hr class="separator__line" />

        <section class="markdown-body">
          <slot />
        </section>
      </Content>
    </main>

    <Footer />
    <div id="cursor"/>
  </body>
</html>

<style>
  .link__item {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 0.5rem;
  }

  .link__item a {
    display: inline-block;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .separator__line {
    border: none;
    width: 100%;
    height: 1px;
    background-color: color-mix(
      in oklab,
      var(--color-deep-teal) 40%,
      transparent
    );
  }
</style>
