---
import Header from '../components/header/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Tag from '../components/Tag.astro'

interface Props {
  content: {
    title?: string
    description?: string
    heroImage?: string
    slug?: string
    github?: string
    website?: string
    stack?: string[]
    tags?: string[]
  }
}

const {
  content: {
    title = '',
    description = '',
    heroImage,
    stack,
    github,
    website
  }
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} / Yoel Valverde - Fullstack Developer`} description={description} />
  </head>
  <body class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-white break-words">
    <div class="w-[90%] max-w-2xl mx-auto">
      <Header />

      <main class="main">
        <br />
        <img
          src={heroImage}
          alt='thumbnail'
          class='relative w-full h-80 mb-2 rounded-xl object-cover object-top'
        />

        <section class="mb-8">
          <Breadcrumb>
            {title}
          </Breadcrumb>
        </section>

        {website && (
          <Tag label='Sitio web'>
            <a href={website} class="text-primary flex justify-start items-center underline primary-to-white">
              {website}
            </a>
          </Tag>
        )}
        {github && (
          <Tag label='Github'>
            <a href={github} class="text-primary flex justify-start items-center underline primary-to-white">
              {github}
            </a>
          </Tag>
        )}
        <Tag label='Stack'>
          <p class="text-zinc-400 white-to-primary">
            {stack?.join(', ')}.
          </p>
        </Tag>

        <hr class="border-top border-zinc-400 my-4" />

        <section class="w-full flex flex-col justify-start items-center gap-y-4">
          <slot />
        </section>
      </main>

      <Footer />
    </div>
    <div id="cursor"></div>
  </body>
</html>

