---
import Header from '../components/header/Header.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import Breadcrumb from '../components/Breadcrumb.astro'
import Tag from '../components/Tag.astro'

interface Props {
  content: {
    title?: string
    description?: string
    heroImage?: string
    slug?: string
    github?: string
    website?: string
    stack?: string[]
    tags?: string[]
  }
}

const {
  content: {
    title = '',
    description = '',
    heroImage,
    stack,
    github,
    website
  }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={`${title} / Yoel Valverde - Frontend Developer`} description={description} />
  </head>
  <body class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-white break-words">
    <div class="w-[90%] max-w-3xl mx-auto">
      <Header />

      <main class="main">
        <br />
        <img
          src={heroImage}
          alt='thumbnail'
          class='relative w-full h-80 mb-2 rounded-xl object-cover object-top'
        />

        <section class="mb-8">
          <Breadcrumb>
            {title}
          </Breadcrumb>
        </section>

        {website && (
          <Tag label='Sitio web'>
            <a
              href={website}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-block text-secondary dark:text-primary underline secondary-to-white dark:primary-to-white truncate"
            >
              {website}
            </a>
          </Tag>
        )}
        {github && (
          <Tag label='Github'>
            <a
              href={github}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-block text-secondary dark:text-primary underline secondary-to-white dark:primary-to-white truncate"
            >
              {github}
            </a>
          </Tag>
        )}
        <Tag label='Stack'>
          <p class="text-zinc-600 dark:text-zinc-300 white-to-secondary dark:white-to-primary">
            {stack?.join(', ')}.
          </p>
        </Tag>

        <hr class="border-top border-zinc-400 my-4" />

        <section class="w-full space-y-4">
          <slot />
        </section>
      </main>

      <Footer />
    </div>
    <div id="cursor"></div>
  </body>
</html>

